################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/VoxelGame/Debug
/.vs/VoxelGame/v16
/VoxelGame/Release
/Release
/VoxelGame/src/vendor/glm/out/build/x64-Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3
/VoxelGame/res/textures/voxel-pack-updated/Spritesheets/def.cpp
/VoxelGameTest
/VoxelGameTest2
/Export
/VoxelGame/Export
/VoxelGame/export.json
/Thesis/latex/DP_hepner_lukas.toc
/Thesis/latex/DP_hepner_lukas.synctex.gz
/Thesis/latex/DP_hepner_lukas.out
/Thesis/latex/DP_hepner_lukas.log
/Thesis/latex/DP_hepner_lukas.lof
/Thesis/latex/DP_hepner_lukas.aux
/Thesis/latex/prohlaseni6.tex.txt
/Thesis/latex/prohlaseni5.tex.txt
/Thesis/latex/prohlaseni3.tex.txt
/Thesis/latex/prohlaseni2.tex.txt
/Thesis/latex/prohlaseni1.tex.txt
/Thesis/latex/DP_hepner_lukas.bbl
/Thesis/latex/DP_hepner_lukas.blg
/Thesis/latex/texput.log
