################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/VoxelGame/Debug
/.vs/VoxelGame/v16
